@use './variaveis.scss' as *;

.barra{
    width: 100vw;
    height: 40px;
    color: $link-color;
    background-color: $cor-destaque;

    ul{
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        padding: 2vh;
    }

    li{
        font-size: $font-size;
        list-style: none;
        color: $link-color;
    }
}
